<?xml version="1.0"?>
<!--
 * {analytic_license_notice}
 *
 * @category   Analytic
 * @package    Analytics
 * @copyright  {analytic_copyright}
 * @license    {analytic_license}
-->

<config>
    <modules>
        <Analytic_Analytics>
            <version>0.1.0</version>
        </Analytic_Analytics>
    </modules>

    <global>
        <models>
            <analytic>
                <class>Analytic_Analytics_Model</class>
                <resourceModel>analytic_resource</resourceModel>
            </analytic>
            <analytic_resource>
                <class>Analytic_Analytics_Model_Resource</class>
                <entities>
                    <data>
                        <table>analytic_data</table>
                    </data>
                    <cron_job>
                        <table>analytic_cron_job</table>
                    </cron_job>
                    <customer>
                        <table>analytic_customer</table>
                    </customer>
                    <ref_domain>
                        <table>analytic_ref_domain</table>
                    </ref_domain>
                    <refer>
                        <table>analytic_refer</table>
                    </refer>
                    <page>
                        <table>analytic_page</table>
                    </page>
                    <shop>
                        <table>analytic_shop</table>
                    </shop>
                    <product>
                        <table>analytic_product</table>
                    </product>
                    <category_filter>
                        <table>analytic_category_filter</table>
                    </category_filter>
                    <date_partition>
                        <table>analytic_date_partition</table>
                    </date_partition>
                    <category>
                        <table>analytic_category</table>
                    </category>
                    <search>
                        <table>analytic_search</table>
                    </search>
                    <tag>
                        <table>analytic_tag</table>
                    </tag>
                    <review>
                        <table>analytic_review</table>
                    </review>
                    <visitor>
                        <table>analytic_visitor</table>
                    </visitor>
                    <data_daily>
                        <table>analytic_data_daily</table>
                    </data_daily>
                    <cron_job_daily>
                        <table>analytic_cron_job_daily</table>
                    </cron_job_daily>
                    <customer_daily>
                        <table>analytic_customer_daily</table>
                    </customer_daily>
                    <refer_daily>
                        <table>analytic_refer_daily</table>
                    </refer_daily>
                    <page_daily>
                        <table>analytic_page_daily</table>
                    </page_daily>
                    <shop_daily>
                        <table>analytic_shop_daily</table>
                    </shop_daily>
                    <product_daily>
                        <table>analytic_product_daily</table>
                    </product_daily>
                    <category_filter_daily>
                        <table>analytic_category_filter_daily</table>
                    </category_filter_daily>
                    <date_partition_daily>
                        <table>analytic_date_partition_daily</table>
                    </date_partition_daily>
                    <category_daily>
                        <table>analytic_category_daily</table>
                    </category_daily>
                    <search_daily>
                        <table>analytic_search_daily</table>
                    </search_daily>
                    <tag_daily>
                        <table>analytic_tag_daily</table>
                    </tag_daily>
                    <review_daily>
                        <table>analytic_review_daily</table>
                    </review_daily>
                    <visitor_daily>
                        <table>analytic_visitor_daily</table>
                    </visitor_daily>
                </entities>
            </analytic_resource>
        </models>
        <resources>
            <analytic_setup>
                <setup>
                    <module>Analytic_Analytics</module>
                    <class>Analytic_Analytics_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </analytic_setup>
            <analytic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </analytic_write>
            <analytic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </analytic_read>
        </resources>
        <helpers>
            <analytic>
                <class>Analytic_Analytics_Helper</class>
            </analytic>
        </helpers>
        <blocks>
            <analytic>
                <class>Analytic_Analytics_Block</class>
            </analytic>
        </blocks>
        <events>
            <admin_system_config_changed_section_general>
                <observers>
                    <check_timezone_config>
                        <class>analytic/observer</class>
                        <method>actionConfigSaveAfter</method>
                    </check_timezone_config>
                </observers>
            </admin_system_config_changed_section_general>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <analytic>
                    <file>analytic.xml</file>
                </analytic>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <analytic_data_aggregation>
                <schedule>
                    <cron_expr>01 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>analytic/dataAggregation::normalParseDataCronJob</model>
                </run>
            </analytic_data_aggregation>
            <analytic_daily_aggregation>
                <schedule>
                    <cron_expr>15 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>analytic/dailyAggregation::normalParseDataCronJob</model>
                </run>
            </analytic_daily_aggregation>
            <analytic_reverse_aggregation>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>analytic/dataAggregation::reverseParseDataCronJob</model>
                </run>
            </analytic_reverse_aggregation>
        </jobs>
    </crontab>
</config>
